html, body{width:100%;padding:0px;margin:0px;font:13px/26px Verdana, Geneva, sans-serif;color:#616161}
figure{margin:0px;padding:0px}
ul{margin:0px;padding:0px}
figure img{width:100%;height:auto}
textarea{font-family:Verdana, Geneva, sans-serif}
.smooth{-webkit-transition: all 250ms ease-in-out;-moz-transition: all 250ms ease-in-out;-o-transition: all 250ms ease-in-out;transition: all 250ms ease-in-out}
.wrapper{width:1026px;margin:0px auto}
.wrap{width:840px;margin:0px auto}
.wrap:nth-child(2){margin-top:48px}
a{color:#333300;text-decoration:none;}
h2{color:#333300;font-size:36px;line-height:48px;font-weight:300;margin:0px}
h3{color:#333300;font-size:24px;font-weight:300;margin:0px}
h4{color:#333300;font-size:18px;font-weight:300;margin:24px 0px}
h5{color:#333300;font-size:18px;font-weight:300;margin:0px;text-transform:uppercase}
p{font-size:14px}
.hidden{overflow:hidden;opacity:0}
.half{width:50%;display:inline-block;vertical-align:top}
nav{width:100%;position:fixed;top:0px;left:0px;background:#333300;border-bottom:3px solid #FBC839;z-index:99}
nav .wrapper{position:relative}
nav figure,nav ul,nav ul li{display:inline-block;vertical-align:top}
nav ul .anomaly{display:none}
nav ul{float:right}
nav ul:nth-of-type(1){margin-top:42px}
nav.on ul:not(.regions-dropdown){margin-top:30px}
nav figure{width:180px;margin:18px 0 12px;-webkit-transform:translate3d(0,0,0)}
nav.on figure{margin:9px 0 3px;width:120px}
nav ul li{margin:0 24px}
nav ul li a{text-decoration:none;text-transform:uppercase;font-size:14px;color:#FFFFFF;line-height:48px;display:block}
nav ul li a:hover{color:#FBC839}
nav ul li .dropdown{position:absolute;background:#333300;margin-left:-24px;border-bottom:3px solid #FBC839;opacity:0;visibility:hidden;margin-top:0px}
nav ul li:hover .dropdown{opacity:1;visibility:visible}
nav.on ul li .dropdown{margin-top:0px}
nav ul li .dropdown li{display:block}
nav ul li .dropdown li a{line-height:42px}
nav.on ul li .dropdown li:first-child{padding-top:9px}
nav.on ul li a{line-height:24px}
nav .regions-container{text-align:right;position:absolute;right:0px;top:0px;padding:9px 0 7px;width:180px}
nav.on .regions-container{padding:0px}
nav .regions-container .regions{font-size:14px;color:#FBC839;text-decoration:none;padding:12px 9px 12px 12px}
nav.on .regions-container .regions{padding-top:0px;padding-bottom:0px}
nav .regions-container .regions:after{content:'';background:url(../img/down.png);width:10px;height:5px;display:block;float:right;margin:12px 0 0 6px}
nav .regions-container .regions:hover{color:#FFFFFF}
nav .regions-container .regions-dropdown{list-style-type:none;position:absolute;margin-top:0px;right:0px;top:42px;z-index:99;background:#333300;opacity:.9;padding:2px 15px 0px;display:none}
nav.on .regions-container .regions-dropdown{margin-top:0px;top:24px}
nav .regions-container .regions-dropdown li{width:96px;margin-right:10px}
nav .regions-container .regions-dropdown li a{font-size:15px;line-height:36px;text-transform:none;color:#FFFFFF}
nav .regions-container .regions-dropdown li a.active{pointer-events:none;cursor:default}
nav .regions-container .regions-dropdown li a:hover{color:#FBC839}
.slide{width:100%;height:480px;overflow:hidden;position:relative;background:#333300}
.slide .le, .slide .ri{position:absolute;top:96px;z-index:0}
.slide .arrow{position:absolute;width:100%;z-index:10;top:240px}
.slide .arrow i{color:#FBC839;font-size:90px;margin: 0 24px;cursor:pointer}
.slide .arrow i:hover{color:#FFFFFF}
.slide .arrow .fa-angle-right{float:right}
.slide .left{height:480px;display:block;position:absolute;left:0px;top:96px;z-index:1;background:-moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.5)));background:-webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);background:-o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);background:-ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);background:linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#50ffffff',GradientType=1 )}
.slide .image{width:1026px;height:480px;display:block;position:absolute;top:99px;margin:0 auto}
.slide .right{height:480px;display:block;position:absolute;right:0px;top:96px;z-index:1;background: -moz-linear-gradient(left,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,1)));background: -webkit-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);background: -o-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);background: linear-gradient(to right,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50ffffff', endColorstr='#ffffff',GradientType=1 )}
.mobile{width:100%;height:270px;overflow:hidden;display:none;position:relative}
.mobile img{height:100%;width:auto}
.container{width:100%;padding:72px 0}
.container .more{width:100%;display:block;text-align:right;font-size:16px}
.container .more:hover{color:#FBC839}
.container .more i{margin-left:12px}
.container p{text-align:justify;text-justify:inter-word}
.container.home .half{width:calc(50% - 24px)}
.container.home .half:first-child{padding-right:24px}
.container.home .half:last-child{padding-left:24px}
.container.home figure{padding:24px}
.container.home .half:first-child figure{padding:64px 24px}
.container.home .half:first-child h2,.container.home .half:first-child h4,.container.home .half:first-child a{color:#668503}
.container.home .half:first-child a:hover{color:#FBC839}
.container.home h2{font-size:27px;margin-bottom:12px}
.container.home h4{font-size:15px;margin:0px}
.gradiator{padding:72px 0;text-align:center;background:rgb(255,255,255);background:-moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 50%, rgba(255,255,255,1) 100%);background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));background:-webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 50%,rgba(255,255,255,1) 100%);background:-o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 50%,rgba(255,255,255,1) 100%);background:-ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 50%,rgba(255,255,255,1) 100%);background:linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 50%,rgba(255,255,255,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1)}
.gradiator .half{margin-top:24px}
.gradiator .half:first-of-type{background:url(../img/dotted-line-l.png) no-repeat right 48px}
.gradiator .half:nth-child(3){background:url(../img/dotted-line-r.png) no-repeat left 48px}
.gradiator .half p,.gradiator .half h5{width:50%;margin:24px auto;text-transform:none}
.gradiator .half h5:nth-of-type(2){height:27px;margin-bottom:0px}
.gradiator .half figure{width:240px;height:240px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;overflow:hidden;margin:48px auto 0}
.gradiator .half h5{height:78px}
.spec{text-align:center;background:none}
.spec .half figure {margin:120px 12px}
.spec .half table{margin:48px auto;text-align:left;border-collapse:collapse;border-spacing:0}
.spec .half table td{border-bottom:1px solid #CCC;padding:12px 24px}
.spec center{display:block;margin-bottom:48px}
.spec center figure{width:72px;vertical-align:top;display:inline-block;padding:0 18px 0 12px;background:url(../img/mini-line.png) no-repeat right center;font-size:12px;line-height:14px;}
.spec center figure:last-of-type{background:none}
.spec center figure span{margin-top:12px;display:block}
.spec .down{margin-top:96px}
.spec .down figure{display:inline-block;width:60px;height:60px;margin-right:12px}
.spec .down figure:nth-child(2){padding-right:27px;padding-bottom:3px;margin-right:18px;background:url(../img/mini-line.png) no-repeat right center}
.spec .down figure img{width:100%;height:auto}
.spec .down .button,.leader .button,.newspage .button,.singlenews .button{background:#FBC839;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:2px solid #FBC839;color:#FFFFFF;font-size:15px;padding:6px 48px;vertical-align:top;display:inline-block;margin-top:12px}
.spec .down .button:hover,.leader .button:hover,.newspage .button:hover,.singlenews .button:hover{background:none;color:#333300}
.leader{text-align:center}
.leader .button:first-child{margin-right:96px}
.greedient{background:rgb(51,51,0);background:-moz-linear-gradient(left, rgba(65,65,4,1) 0%, rgba(51,51,0,1) 50%, rgba(65,65,4,1) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(65,65,4,1)), color-stop(50%,rgba(51,51,0,1)), color-stop(100%,rgba(65,65,4,1)));background:-webkit-linear-gradient(left,  rgba(65,65,4,1) 0%,rgba(51,51,0,1) 50%,rgba(65,65,4,1) 100%);background: -o-linear-gradient(left,  rgba(65,65,4,1) 0%,rgba(51,51,0,1) 50%,rgba(65,65,4,1) 100%);background:-ms-linear-gradient(left,  rgba(65,65,4,1) 0%,rgba(51,51,0,1) 50%,rgba(65,65,4,1) 100%);background:linear-gradient(to right,  rgba(65,65,4,1) 0%,rgba(51,51,0,1) 50%,rgba(65,65,4,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333300', endColorstr='#333300',GradientType=1 )}
.greedient .wrap{padding:48px 0;text-align:center}
.greedient h3{margin-bottom:48px;color:#FBC839}
.greedient ul{width:480px;margin:0 auto;text-align:left}
.greedient ul li{color:#FFFFFF;font-size:15px;margin-bottom:24px}
.contact{text-align:center}
.contact h3{margin-bottom:36px}
.contact .half{text-align:left}
.contact .half p{margin-left:12px}
.contact .country{display:inline-block;/*cursor:pointer;*/padding:6px 12px;font-size:13px;}
.contact .country.active{background:#EEEEEE}
.contact a:hover{color:#FBC839}
/*.contact .country:hover{background:#2EA664;color:#FFFFFF}*/
.contact .half .map{width:100%;height:300px}
.cform h3{margin-bottom:48px}
.cform form{width:600px;margin:0 auto}
.cform .error{float:right;color:#E56E70;width:300px;text-align:right;margin-top:-84px}
.cform .error#message-error{margin-top:-156px}
.cform label{width:100%;font-size:15px;color:#333300;display:block;text-align:left}
.cform input,.cform textarea{width:100%;border:1px solid #FBC839;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-size:15px;padding:6px 12px;margin-bottom:24px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;resize: none}
.cform input:hover,.cform textarea:hover{border-color:#333300}
.cform .button{background:#FBC839;width:180px;color:#FFFFFF;border-width:2px;padding:9px 48px;cursor:pointer;margin-top:24px;margin-bottom:0px;-webkit-appearance:none;border-color:#FBC839}
.cform .button:hover{background:none;color:#333300;border-color:#FBC839}
.newsection{text-align:center}
.newsection .over{width:840px;height:150px;overflow:hidden;margin:48px auto;text-align:left}
.newsection .item{margin-bottom:150px}
.item h4{font-size:12px;color:#9A9A9A}
.newsection{/*display:none*/}
.newsection .item figure{height:150px;width:150px;display:inline-block;vertical-align:top;overflow:hidden}
.newsection .item figure img{height:100%;width:auto}
.newsection .item .cont{display:inline-block;width:660px;padding-left:30px;vertical-align:top}
.newsection .item .cont h2{font-size:21px}
.newsection .item .cont p{margin-top:0px}
.newsection .item a{color:#333300;font-size:14px;float:right;margin-top:-27px;margin-right:6px;display:block;line-height:42px}
@-moz-document url-prefix(){.newsection .item a{margin-top:-29px}}
.item a:hover{color:#FBC839}
.newspage{margin-top:96px}
.newspage h2,.singlenews h2{text-align:center}
.newspage h4,.singlenews h4{text-align:center;margin:24px 0}
.newspage .half figure{padding-right:12px}
.newspage .half .content{padding-left:12px}
.newspage .half .content p{margin:0px}
.newspage .half a{font-size:15px;text-align:right;display:block;margin:24px 0}
.newspage .half a i{margin-left:12px;font-size:18px}
.singlenews{margin-top:96px}
.singlenews figure{margin-bottom:24px}
.singlenews .button:first-child{margin-right:24px}
.singlenews .content{margin-bottom:48px}
footer{background:#333300;border-top:3px solid #FBC839;display:block;padding:48px 0}
footer .third{width:33.333333%;display:inline-block;vertical-align:top}
footer p{color:#FFFFFF;margin:3px 0}
footer a{color:#FFFFFF}
footer a:hover{color:#FBC839}
footer figure{width:240px}
footer .third:nth-of-type(2) figure{margin-left:-18%}
footer .third:nth-of-type(3) p{margin-left:50%} 
.gm-style .gm-style-iw{line-height:15px}
.lamma15{text-align:center;display:block;border:1px solid #FBC839;margin-top:12px;width:300px;position:absolute;bottom:24px;right:50%;margin-right:-489px;z-index:2;background:rgba(255,255,255,0.66);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.lamma15 img{height:96px;width:auto}
.lamma15 p{margin:0px;text-transform:uppercase;font-weight:700}
@media only screen and (max-width:1026px){
.wrapper{width:100%}
.wrap{width:calc(100% - 48px);margin-left:24px;margin-right:24px}
nav figure,nav.on figure{margin-left:24px}
#product .half{padding:0 12px}
.contact .half p{margin-left:24px}
.contact .half .map{width:calc(100% - 24px);margin-right:24px}
.newsection .over{width:calc(100% - 48px);margin-left:24px;margin-right:24px}
.newsection .over .wrap{width:100%;margin:0px}
.newsection .item .cont{width:calc(100% - 180px)}
footer p,footer figure{margin-left:24px}
footer .third:nth-of-type(3) p{margin-left:33.3333333%}
.lamma15{right:24px;margin-right:0px}
}
@media only screen and (max-width:768px){
nav ul li{margin:0 18px}
.slide{margin-top:0px}
.slide .image{top:0px}
#product h2{text-align:left}
#product .half{width:calc(100% - 24px)}
.gradiator .half figure{width:180px;height:180px}
.gradiator .half h5{font-size:15px}
.spec .half,.contact .half{width:100%}
.spec .half figure:first-of-type{margin:24px 12px}
.spec .half table{margin-top:0px}
.spec center{margin-bottom:0px}
.spec center figure{margin-bottom:24px}
.spec .down{margin-top:48px}
.spec .wrapper:nth-of-type(2) figure{background:none}
.spec .wrapper:nth-of-type(2) figure:nth-of-type(3):after{clear:both}
.contact .half .caddr{margin-bottom:48px}
.contact .half .map{width:calc(100% - 48px);margin-left:24px}
.cform form{width:100%}
.newsection .item .cont h2{font-size:18px;line-height:36px}
.newsection .item .cont p{font-size:12px;line-height:21px}
.newsection .item a{font-size:12px}
footer .third:nth-of-type(3) p{margin-left:25%} 
}
@media only screen and (max-width:680px){
nav{text-align:center;height:125px}
nav.on{height:108px}
nav figure,nav.on figure{margin-left:0px;width:120px}
nav ul{width:100%}
nav ul:not(.regions-dropdown){margin-top:0px}
nav.on ul:not(.regions-dropdown){margin-top:0px}
nav ul .anomaly{display:inline-block;text-align:center}
nav ul .anomaly a,nav.on ul .anomaly a{line-height:18px !important;margin-top:6px}
nav ul li:nth-child(2){display:none}
nav .regions-container{top:15px;right:12px}
nav .regions-container .regions-dropdown li:nth-child(2){display:block;float:right}
nav ul li a,nav.on ul li a{line-height:48px}
nav .dropdown{width:120px;margin-left:-60px !important}
.leader .button:first-child{margin-right:0px}
.newsection .item .cont p{line-height:18px}
footer .third{width:100%}
footer .third:nth-of-type(2) figure{margin-left:24px;margin-top:24px;margin-bottom:12px}
footer .third:nth-of-type(3) p{margin-left:24px} 
}
@media only screen and (max-width:550px){
.greedient ul{width:calc(100% - 24px);margin-left:24px}
.newsection .item .cont h2{font-size:24px;margin-top:24px}
.newsection .item .cont p{display:none}
}
@media only screen and (max-width:480px){
.slide{display:none}
.mobile{display:block}
.mobile figure{height:100%;position:relative}
.mobile figure img{left:50%;position:absolute;margin-left:-275px}
.gradiator .half{width:100%;background:none !important}
nav{position:relative}
nav ul li{margin:0 12px}
nav ul li a{font-size:12px}
.spec .down{text-align:center}
.spec .down figure:nth-child(2){padding:0px}
.spec .down .button{padding-left:12px;padding-right:12px}
footer .half{width:100%}
}
#cookie-bar{background:#111;height:24px;line-height:24px;color:#eee;text-align:center;padding:3px 0}#cookie-bar.fixed{position:fixed;top:0;left:0;width:100%}#cookie-bar.fixed.bottom{bottom:0;top:auto}#cookie-bar p{margin:0;padding:0}#cookie-bar a{color:#fff;display:inline-block;border-radius:3px;text-decoration:none;padding:0 6px;margin-left:8px}#cookie-bar .cb-enable{background:#070}#cookie-bar .cb-enable:hover{background:#090}#cookie-bar .cb-disable{background:#900}#cookie-bar .cb-disable:hover{background:#b00}#cookie-bar .cb-policy{background:#03b}#cookie-bar .cb-policy:hover{background:#05d}