DirectoryIndex index.php
RewriteEngine on

RewriteRule ^(uploads|css|js|img|sphider|system|scripts)($|/) - [L]

RewriteCond %{HTTP:Accept-Language} ^es [NC]
RewriteRule ^$ http://localhost/agriwash/es/ [L,R=301]

RewriteRule ^$ http://localhost/agriwash/en/ [L,R=301]

AddType image/svg+xml svg